/** ////////////////////////////////////////////////////////////
    // Office of Biostatistics & Quantitative Health Sciences //
    //                                                        //
    // @author Jason Delos Reyes                              //
    // @date May/June 2016                                    //
    //////////////////////////////////////////////////////////// */
/**-------[Everywhere]-----------------------------------------*/

html{
    height: 100%;
}

body {
    background:
        linear-gradient(
            rgba(255,255,255,.6),
            rgba(255,255,255,.6)),
        url("./images/beach.jpg") no-repeat center center fixed;
    background-color: white;
    background-size: cover !important;
    color: #000;
    /**padding-top: 185px;*/
}

h1{
    text-align: center;
    color: hotpink;
}

a:hover, a:visited{
    background: none;
    text-decoration: none;
}

/*-------------------[Menu Active Tab]------------------------*/

#home .home, #about .about, #research .research, #education .education, #services .services, #people .people{
    background-color: darkslategray;
    color: white !important;
    height: 100%;
}

/*---------------------[Header]------------------------------*/


.pageHeader{
    position: fixed;
    top: 0;
   z-index: 5000;
}

.topNavBar{
     z-index: 10;
     position: absolute;
     color: #EEE2A8;
     width: 100%;
     text-align: right;
     font-family: 'Segoe UI';

}

.topMostLinks{
    color: #EEE2A8;
    text-decoration: none;
    font-weight: normal;
}

.topMostLinks:hover{
    color: #FFF !important;
    text-decoration: none;
    background: none;
}

.topMostLinks:link, .topMostLinks:visited{
    color: #EEE2A8;
    text-decoration: none;
    background: none;
}


.searchForm {
    color: black;
}


.search{
    display: block;
    float: right;
    background-color: white;
    color: black;
    border: 0px solid #DBDBDB;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 30px;
    outline: none;
}

.searchButton{
    display: block;
    position: relative;
    float: right;
    left: 190px !important;
    top: 0;
    background-color: white;
    color: gray;
    font-weight: bold;
    border: none;
    border-radius: 20px !important;
    left: -35px;
}

.bannerFluid{
    z-index: 0;
    background-size: cover;
    position: relative;
    width: 100%;
    border-top: 0;
    background-color: #114020;
}

.BQHSbanner{
   position: page;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.mainBody{
    margin-top: 30px;
    padding-top: 0;
    width: 1125px !important;
    position: relative;
    z-index: 500;
    background-color: #FFF; /**#FFFFF0;*/   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.mainBodyHome{
    margin-top: -10px !important;
}

.mainNavBar{
    margin-top: -20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100% !important;
    display: block;
    text-align: center;
    background: 
        linear-gradient(
            rgba(238, 226, 168, 1),
            rgba(255, 255, 255, 1));
    border-bottom: 1px solid #AAA;
    /**
    width: 100%;
    position: relative;
    z-index: 1000;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 17px;
    border-top: 1px solid #EEE2A8; B5AA34 #FFDF00
    border-bottom: 1px solid #000;
    text-align: center;
    background: 
        linear-gradient(
            rgba(51, 51, 51, 1),
            rgba(100, 100, 100, 1));
    height: 100%;*/
} 


/**
.dropdown-menu{
    display: block;
    position: static;
    margin-bottom: 5px;
    width: 100%;
}

#nav, #nav3, #navFake {
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: 
        linear-gradient(
            rgba(51, 51, 51, 1),
            rgba(100, 100, 100, 1));
}

#nav li, #nav3 li, #navFake li{
    display: inline;
    text-decoration: none;
    padding-left: 1.25%;
    padding-right: 1.25%;
}


#nav a, #nav3 a, #navFake a, .dropbtn{
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
    height: 100%;
}


#nav a:hover, #nav3 a:hover, #navFake a:hover, .dropdown:hover .dropbtn{
   background: #333;
   color: #FFF;
}

#nav .dropdown, #nav3 .dropdown #navFake .dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #555;
    color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300 !important;
    -webkit-font-smoothing: antialiased !important;
}

.dropdown-content a{
    color: #FFF !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%
}

.dropdown-content a:hover{
    background-color: #333 !important;
    color: #FFF !important;

}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-submenu{
    display: inline-block;
}*/




/**((((((((((((((((((((((New Navigation Bar))))))))))))))))))))))*/

nav{
    width: 100%;
    text-align: center;
    /*margin-left: auto;
    margin-right: auto;*/
    padding-left: 5%;
    margin-bottom: -10px;
}


nav li{
    display: inline-block;
    text-decoration: none;
    margin-left: 4%;
    margin-right: 4%;
}

nav li li{
    display: block;
    text-align: left;
}

/*Hide submenus by targeting any UL's within a UL*/
nav ul ul {
	display: none;
}

    /*Makes sure only child UL of LI being hovered is targeted, 
        rather all submenus appearing at once.*/
	nav ul li:hover > ul {
		display: block;
	}

/*Style main navigation menu*/
nav ul {
    z-index: 1000;
    text-align: left;
    background:
        linear-gradient(
            rgba(238, 226, 168, 1),
            rgba(255, 255, 255, 1));
    /*background: 
        linear-gradient(
            rgba(51, 51, 51, 1),
            rgba(100, 100, 100, 1));*/
    /*background-color: #EEE2A8;*/ 
    color: black;
    /*border-top: 2px solid #EEE2A8;*/ /**#B5AA34 #FFDF00*/
    /*border-bottom: 1px solid #AAA;*/
    text-decoration: none;
	list-style: none;
	position: relative; /*Aboslutely position submenus according to menu*/
	display: block; /*Condense width of menu to fit*/
    /*margin: 0 auto;*/
}
    /*Clear floats used on subsequent list items */
	nav ul:after {
		content: ""; clear: both; display: block;
	}

/*Style individual menu items*/
nav ul li {
    vertical-align: top;
    text-align: left;
    

	float: left;
    text-decoration: none;
    white-space: nowrap;

}
	nav ul li:hover {
		background: #D5B82A !important;
		/*background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
        text-decoration: none;
        display: block;
	}
		nav ul li:hover a {
			color: #000;
            text-decoration: none;
            white-space: nowrap;
            width: 100%;
		}
	
	nav ul li a {
		display: inline-block; padding: 10px 5px;
		color: #000; text-decoration: none;
        white-space: nowrap;
        width: 100%;
	}

    nav ul li a:link, nav ul li a:visited{
        text-decoration: none;
        color: black;
    }


/*Removal of border-radius and padding for submenus,
    position absolutely 100% top of UL*/

nav ul ul {
	background: #E6D57F; border-radius: 0; border: none; padding: 0;
	position: absolute; top: 100%;
}
    /*LIs of each UL listed vertically with thin borders*/
	nav ul ul li {
        font-size: 14px;
		float: none; 
		/*border-top: 1px solid #FFF;
		border-bottom: 1px solid #FFF;*/
		position: relative;

        padding-right: 7.5px;
        right: 4.5%;
        width: 100%;

	}
		nav ul ul li a {
            padding: 7.5px !important;
			color: #000;
            width: 100%;
		}	
        /*Darkened background to act as visual cue*/
			nav ul ul li a:hover {
				/*background: #D5B82A !important;*/
                background: none !important;
                color: white;
                width: 100%;
			}

/*Position submenus absolutely to the right of position of parent*/
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

/**(((((((((((((((((((End New Navigation Bar)))))))))))))))))))*/

a{
    color:#C00;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
}

.currentLink a{
    color: green !important;
}

.hierarchy a:hover{
    text-decoration: none;
    background: none;
}

/*---------------------------[Home Page]----------------------------------*/

.rotatingImages{
    margin-top: -5px;
    margin-bottom: 5px;
    right: 1.5%;
    position: relative;
    width: 103%;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 100%;
    margin: auto;
    
}

.carousel-control .icon-prev,
.carousel-control .icon-next{
   width: 1px;
   background: none;
}

.carousel-inner .col-xs-5{
    padding: 0;
}

.carousel .carousel-indicators{
    visibility: hidden;
}

.carousel-caption{
    margin-left: -20%;
    margin-right: -20%;
    margin-bottom: -5.5%;
    opacity: .8;
}

.carouselLinks a{
    background-color: none;
    opacity: .9;
}

.carouselLinks a:hover{
    text-decoration: none;
    background: none;
}

.textBox{
    background-color: white;
    color: #114020;
    font-family: 'Segoe UI';
    padding-top: 5px;
    padding-bottom: 5px;
}

.textBox a{
    color: #114020;
}

.textBox a:hover{
    color: darkseagreen;
}

.carousel-control.left, .carousel-control.right{
    background-image: none !important;
    margin-top: 15%;
    width: 4%;
    height: 25%;
    background-color: black;
}

.carousel-control.left:hover, .carousel-control.right:hover{
    background-image: none !important;
    background-color: black;
}

.mainContent{
    width: 1125px;
    margin-left: -15px !important;
    margin-top: -5px;
    color: #000;
    background-color: #FFF; /**#FFFFF0;*/
}

.menuModule{
    background-color: #FFFFF0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menuModule a{
    background: none;
    color: green;
}

.menuModule a:hover{
    background: none;
    text-decoration: none;
}

.innerModule1{
    /**background: #258D46;*/
    background:
        linear-gradient(
            rgba(37, 141, 70, .7),
            rgba(37, 141, 70, .7)
        ),
        url("./images/Flower1-twotone.jpg");
    background-size: cover;
    color: white;
    padding: 15px;
    height: 310px;
    margin-left: -15px;
    margin-right: -5px;
}

.innerModule1:hover{
    /**background-color: #2BA150;*/
    background: url("./images/Flower1-twotone.jpg");
    background-size: cover;
    color: white;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.innerModule2{
    /**background: #258D46;*/
    background:
        linear-gradient(
            rgba(37, 141, 70, .75),
            rgba(37, 141, 70, .75)
        ),
        url("./images/Flower5-twotone.jpg");
    background-size: cover;
    color: white;
    padding: 15px;
    height: 310px;
    margin-left: -15px;
    margin-right: -16px;
}

.innerModule2:hover{
    /**background-color: #4ACF74;*/
    background: url("./images/Flower5-twotone.jpg");
    background-size: cover;
    color: white;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.innerModule3{
    /**background: #258D46;*/
    background:
        linear-gradient(
            rgba(37, 141, 70, .85),
            rgba(37, 141, 70, .85)
        ),
        url("./images/Flower3-twotoneBW.jpg");
    background-size: cover;
    color: white;
    padding: 15px;
    height: 310px;
    margin-left: -6px;
    margin-right: -16px;
}

.innerModule3:hover{
    /**background-color: #86DFA2;*/
    background: url("./images/Flower3-twotoneBW.jpg");
    background-size: cover;
    color: white;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}



.moduleLightHeader{
    color: palegoldenrod !important;
}

.moduleLightHeader:hover{
    color: #AAA !important;
}

.moduleDarkHeader{
    color: green !important;
}

.moduleDarkHeader:hover{
    color: black !important;
}

.modulePictures{
    height: 150px !important;
    width: 191px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.moduleContent{
    font-family: 'Segoe UI';
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    width: 110%;
    padding-left: 20px;
    padding-right: 20px;
}

.niceHeader{
    background-color: black;
    color: white;
    font-family: 'Segoe UI';
    font-weight: bold;
    opacity: .85;
    padding-top: 5px;
    padding-bottom: 5px;
}


#nav2 {
    
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: none;
}

#nav2 li{
    display:inline;
    text-decoration: none;
}

#nav2 a, .dropbtn{
    display:inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#nav2 a:hover, .dropdown:hover .dropbtn{
   background-color: darkseagreen;
   color: black;
}

#nav2 .dropdown{
    display: inline-block;
}

.giveNowButton:hover{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/*----------------------------------------[Footer]----------------------------*/

.bottomFooter{
    width: 1125px;
    right: 15px;
    /**background-color: #114020;*/
    background:
        linear-gradient(
            rgba(255, 255, 255, 1),
            rgba(238, 226, 168, 1));
    /*background-color: #EEE2A8;*/
    color: black;
    clear: both;
    display: block;
    position: relative;
    min-height: 100%;
    bottom: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
    border-top: thin solid #AAA;

}

.innerFooter{
    width: 1025px !important;
    /**background-color: #114020;
    background:
        linear-gradient(rgba(0, 0, 0, 1), rgba(17, 64, 32, 1)); */
    color: black;
    margin: 0px 10px -10px 10px;
    margin-bottom: -20px !important;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: thin solid #000 /**#EEE2A8*/;
}

#leftFooter{
    float: left;
    margin: 0px;
    width: 25%;
    border-right: thin solid #000 /**#EEE2A8*/;
}

#rightFooter{
    float: right;
    margin: 0px;
    width: 75%;
    text-align: center;
}


.officeLocation{
    font-family: 'Segoe UI';
    font-size: 16px;
    text-align: right;
    color: #000;
}

.contactInfo{
    font-family: 'Segoe UI';
    font-size: 12px;
    color: #000;
    text-align: right;
}

.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
    text-align: center;
}

.jabsomImage{
    text-align: right;
    margin-top: 10px;
    height: 75px;
    width: 60px;
}

.manoaImage{
    text-align: right;
    margin-top: 10px;
    height: 75px;
    width: 75px;
}

/*-----------------------[Content Pages] ---------------------------------------------------*/


.breadcrumb {
    background-color: /**#FFFFF0*/ #FFF !important;
    font-size: 12px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: dimgray !important;
    font-weight: normal !important;
}

.breadcrumbNav{
    background-color: /**#FFFFF0*/ #FFF;
    width: 1025px;
}

.breadcrumbNav a{
    color: black;
}

.realBreadcrumbNav{
    width: 1125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

:target:before{
    content: "";
    display: block;
    height: 200px;
    margin: -200px 0 0;
}

.mainInfo{

    display: flex;
    width: 100%;
    margin-top: -40px;
    padding-top: 20px;
    margin-bottom: 10px;
}


.leftBank{
    background:
        linear-gradient(
            rgba(255, 255, 255, .4),
            rgba(255, 255, 255, .4)),
        url("./images/Flower6-fade.png") no-repeat;
     background-size: contain;
     background-color: #ADAD67;
    flex: 1;
    padding-left: 0;
    margin-right: 5px;
    max-width: 100%;
}

.smallMenu{
    border-color: #114020 !important;
    background: none;
    /*width: 100%;*/
    width: 207px;
    font-family: 'Raleway', sans-serif;
    position: fixed;
}

.smallMenu a:hover{
    background:
        linear-gradient(
            rgba(17, 64, 31, 0.9),
            rgba(17, 64, 31, 0.9)) !important;
    color: white !important;
}



.mainMenuLink{
    background-color: #79D2A1 !important;
    color: #000 !important;
}

.subMenuLink{
    background-color: #EAFAEA !important;
    color: #000 !important;
    font-size: 12px;
}



.list-group.panel > .list-group-item{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-submenu{
    margin-left: 20px;
}


/*.flowerPic{
    background:
        linear-gradient(
            rgba(255, 255, 255, .4),
            rgba(255, 255, 255, .4)),
        url("./images/Flower6-fade.png") no-repeat;
     background-size: contain;
     background-color: #ADAD67;
    flex: 1;
    padding-left: 0;
    padding-right: 5px;
    margin-right: 5px;
    max-width: 100%;
}*/


.rightBank{
    width: 80%;
    padding-left: 5px;
    padding-right: 0;
    margin-left: 5px;
}

.titleOfPage{
    background-color: #396039;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -10px;
}
.contentOfPage{
    background-color: #FAF4D1;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 525px;
}

.contentImage{
    width: 400px;
    height: 267px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contentImage-wide{
    max-height: 267px;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.contentImage-tiny{
    max-height: 85px;
    max-width: 150px;
    display: inline;
}

.contentImage-short{
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.contentWords{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
}

.contentButton{
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: darkseagreen !important;
    border-color: darkseagreen !important;
    color: black !important;
 }

.redContentButton{
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: #005000 !important;
    border-color: #003000 !important;
    border-radius: 20px !important;
    color: floralwhite !important;
}



.contentButtonWrapper{
    text-align: center;
}

.hidingBox{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.hbTitle{
    margin-top: 10px;
    background-color: #79D2A1;/**#A55B27;*/
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -10px;
    padding-top: .2em;
    padding-bottom: .2em;
}

.hbContent{
    margin-top: 0;
    background-color: #EAFAEA; /**#EEBA99;*/
    padding-bottom: 10px !important;
}

.hbContent a, .redLink{
    color: #006000;
    text-decoration: none;
    font-weight: normal;
}

.hbContent a:hover, .redLink:hover{
    text-decoration: none;
    color: #A55B27;
}


#nav2 {
    
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: none;
}

#nav2 li{
    display: inline;
    text-decoration: none;
}

#nav2 a, .dropbtn{
    display:inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#nav2 a:hover, .dropdown:hover .dropbtn{
   background-color: darkseagreen;
   color: black;
}

#nav2 .dropdown{
    display: inline-block;
}

.giveNowButton:hover, .contentButton:hover, .contentButton:hover a, .redContentButton:hover, .redContent:hover a{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background:
        linear-gradient(
            rgba(255, 255, 255, .5),
            rgba(255, 255, 255, .5));
    color: white !important;
}

 .mahalo{
     text-align: center;
     font-weight: bold;
 }

 /** -------[Contact Us]-------*/
.googleMap {
    width: 400px;
    height: 267px;
    border: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


/**--------[Faculty & Staff] -----------*/

.contactRow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftDirections{
    
    width: 46% !important;
    margin-left: 20px;
}

.rightDirections{

    width: 45% !important;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;    
}

.memberTable{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.memberItems{
    padding: 5px;
    text-align: left;
    background-color: white;
    border: 1px solid black;
}

.memberImg{
    max-width: 100%;
    max-height: 125px;
}

.memberTitleBlock{
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 20px;
}

.memberTitleAlt{
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 10px;
}

.memberTitle{
    font-weight: normal !important;
    font-family: 'Raleway', sans-serif !important;
}

.bigInfo{
    /*font-weight: bold !important;*/
    font-size: 20px !important;
    border: 3px solid green;
    padding: 5px;
}

.insideMemberLeft{
    float: left;
    width: 40%;
    margin-left: 15px;
}

.insideMemberRight{
    float: left;
    width: 40%;
    margin-left: 10px;
}

#facultyT, .facultyH{
    background-color: #79D2A1 !important;
    border: none !important; /**-color: green !important;*/
}

.facultyH{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: green;
}

.facultyC, .staffC{
    font-family: 'Calibri', sans-serif;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
}

.facultyC{
   border: none !important; /**border-color: green !important;*/
}

.facultyC a{
    font-weight: normal !important;
    text-decoration: none;
    color: green;
}

.facultyC a:hover{
    text-decoration: none;
    color: darkred;
}

#staffT, .staffH{
    background-color: #9CF !important;
    border: none !important; /**border-color: dodgerblue !important;*/
}

#staffT{
    color: black !important;
}

.staffH{
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
}

.staffC{
    border: none !important; /**border-color: dodgerblue !important;*/
}

.staffC a{
    font-weight: normal !important;
    text-decoration: none;
    color: dodgerblue;
}

.staffC a:hover{
    text-decoration: none;
    color: darkred;
}

/**--------[Education/Training] -----------*/

.seminarTable{
    width: 100%;
}




