body {
    background: 
        linear-gradient(
            rgba(227, 227, 173, 0.45),
            rgba(227, 227, 173, 0.45)
        ),
        url("./images/refreshingPlant.jpg");
    
    color: #000;
    padding: 0px;
}

h1{
    text-align: center;
    color: hotpink;
}

a:hover{
    background: none;
    text-decoration: none;
}

.topNavBar{
     z-index: 10;
     position: absolute;
     color: #E3E3AD;
     width: 100%;
     text-align: right;

}

.topMostLinks{
    color: #E3E3AD;
    text-decoration: none;
}

.topMostLinks:hover{
    color: #FFF;
    text-decoration: none;
    background: none;
}

.searchForm{
    color: black;
}

.search{
    background-color: white;
    color: black;
    border: 0px solid #DBDBDB;
}

.searchButton{
    position: relative;
    left: -8px;
    border: 2px solid darkseagreen;
    background-color: darkseagreen;
    color: white;
    font-weight: bold;
}

.bannerFluid{
    z-index: 0;
    position: relative;
    width: 100%;
    border-top: 0;
    background-color: #114020;
}

.BQHSbanner{
   position:page;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    
}

.mainBody{
    margin-left: 100px;
    margin-right: 100px;
    z-index: 500;
    background-color: white;   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.mainNavBar{
    width: 100%;
    position: relative;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

#nav {
    border: 1px solid #000;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: darkseagreen;
}

#nav li{
    display:inline;
    text-decoration: none;
}

#nav a, .dropbtn{
    display:inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#nav a:hover, .dropdown:hover .dropbtn{
   background-color: #E3E3AD;
   color: black;
}

#nav .dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #114020;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    font-size: small;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%
}

.dropdown-content a:hover{
    background-color: #F1F1F1;

}

.dropdown:hover .dropdown-content{
    display: block;
}


a{
    color:#C00;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    background-color: seagreen;
    text-decoration: none;
}

.active {
    background-color: seagreen;
    color: black;
}

.currentLink{
    color: dimgrey;
}

.hierarchy a:hover{
    text-decoration: none;
    background: none;
}

.rotatingImages{
    margin-top: -40px;
    margin-bottom: 30px;
    padding-left: -100px;
    padding-right: 0;
    position: relative;
    width: 100% !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 100%;
    margin: auto;
    
}

.carousel-control .icon-prev,
.carousel-control .icon-next{
   width: 1px;
   background: none;
}

.carouselLinks a{
    background-color: none;
    opacity: .9;
}

.carouselLinks a:hover{
    text-decoration: none;
    background: none;
}

.textBox{
    background-color: white;
    color: seagreen;
    opacity: .9;
}

.carousel-control.left, .carousel-control.right{
    background-image: none !important;
}

.carousel-control.left:hover, .carousel-control.right:hover{
    background-image: none !important;
    background: none !important;
}

.mainContent{
    float: left;
    width: 70%;
    background-color: #FFF;
    color: #000;
}

.menuModule{
    float: left;
    margin: 0;
    background-color: #FFF;
    padding: 15px 5px 5px 15px;
    margin-bottom: 10px;
}

.innerModule1{
    background-color: #114020;
    color: white;
    padding: 10px;
    height: 250px;
}

.innerModule1:hover{
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.innerModule2{
    background-color: lightgray;
    padding: 10px;
    height: 250px;
}

.innerModule2:hover{
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.innerModule3{
    background-color: #E3E3AD;
    padding: 10px;
    height: 250px;
}

.innerModule3:hover{
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.innerModule4{
    background-color: mediumseagreen;
    color: white;
    padding: 10px;
    height: 250px;
}

.innerModule4:hover{
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.moduleDarkHeader{
    color: white !important;
}

.moduleDarkHeader:hover, .moduleLightHeader:hover{
    color: darkseagreen !important;
}

.menuModule a{
    background: none;
    color: green;
}

.menuModule a:hover{
    background: none;
    text-decoration: none;
}

.modulePictures{
    max-height: 137px !important;
    max-width: 175px;
    float: left;
    padding-right: 10px;
    text-align: center;
    position: relative;
}

.moduleContent{
    font-family: 'Segoe UI';
    position: relative;
    float: right;
    width: 50%;
    height: 50%;
}

.niceHeader{
    background-color: white;
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    opacity: .9;
}

.rightSideBar{
    float: right;
    width: 30%;
    margin-right: -20%;
    background-color: #FFF;
    color: #000;
    padding-bottom: 10px;
    padding-top: 15px;
}

.visionTitle{
    background-color: darkseagreen;
    color: white;
    font-family: 'Segoe UI';
}

.visionContent{
    background-color: #E3E3AD;
    font-size: 12px;
    font-family: 'Segoe UI';
}

#nav2 {
    
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: none;
}

#nav2 li{
    display:inline;
    text-decoration: none;
}

#nav2 a, .dropbtn{
    display:inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#nav2 a:hover, .dropdown:hover .dropbtn{
   background-color: darkseagreen;
   color: black;
}

#nav2 .dropdown{
    display: inline-block;
}

.giveNowButton:hover{
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.mahalo{
    text-align: center;
    font-weight: bold;
}

.contentButton{
    background-color: darkseagreen !important;
    color: white !important;
    font-weight: bold !important;
    width: 100%;
}

.contentButton:hover{
    background-color: forestgreen !important;
    color: white !important;
    font-weight: bold;
}

.bottomFooter{
    background-color: #4E2E28; 
    color: white;
    clear: both;
    display: block;
    overflow: hidden;
    position: relative;
    min-height: 100%;
    width: 100%;
    bottom: 0px;
    opacity: .9;
}

.innerFooter{
    background-color: antiquewhite;
    color: black;
    margin: 20px 10px 20px 10px;
    opacity: .95;
}

#leftFooter{
    float: left;
    margin: 0px;
    width: 25%;
}

#rightFooter{
    float: right;
    margin: 0px;
    width: 75%;
}


.officeLocation{
    font-family: 'Segoe UI';
    font-size: 16px;
    text-align: right;
    color: #4E2E28;
}

.contactInfo{
    font-family: 'Segoe UI';
    font-size: 12px;
    color: #4E2E28;
    text-align: right;
}

.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
}

.jabsomImage{
    text-align: right;
    margin-top: 10px;
    height: 87px;
    width: 70px;
}

.manoaImage{
    text-align: right;
    margin-top: 10px;
    height: 100px;
    width: 100px;
}